<ul>
  <% @guests.each do |guest| %>
    <li><%= link_to guest.name, guest_path(guest) %></li>
    <% guest.visits.each do |visit| %>
      <ul>
        <li><%= link_to formatted_date(visit.start_date), visit_path(visit) %></li>
      </ul>
    <% end %>
  <% end %>
</ul>
