<!DOCTYPE html>
<html>
<head>
  <title>Booking</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div>
        <ul class = "nav navbar-nav">
          <li><a href="/guests/new">Add a new group</a></li>
          <li><a href="/visits/new">Add a visit</a></li>
          <li><a href="/visits">View all visitors</a></li>
          <li><a href="/guests">View all guests</a></li>
        </ul>
      </div>
    </div>
  </nav>

<%= yield %>

</body>
</html>
